<phpunit bootstrap="tests/bootstrap.php">
    <testsuite name="Model Test Suite">
        <directory>./tests/application</directory>
    </testsuite>
    
    <logging>
	    <log type="coverage-html" target="build/coverage" title="My Project"
	         charset="UTF-8" yui="true" highlight="true"
	         lowUpperBound="35" highLowerBound="70"/>
	    <log type="coverage-clover" target="build/logs/clover.xml"/>
	    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
    
    <filter>
	  <blacklist>
	    <directory>vendor</directory>
	  </blacklist>
	</filter>
    
</phpunit>